.animatedSheet{
animation-name: slideAnimation;
animation-duration: 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
/* animation-timing-function:ease-in-out ; */
transition: all;
display: block;

}

@keyframes slideAnimation {
  from{
    bottom: -50vh;


  }
  to{
bottom: 0vh;

  }
}
.nonAnimatedSheet{

display: none;

}
.sheet{
position: absolute;
left: 33vw;
z-index: 20;

}
/* absolute left-[33vw] transition-all duration-75 ${isOpen? "bottom-0":"top-[-100vh]"} */